@import '_normalize.styl'

brand-black = rgba(0, 0, 0, 0.870588)
brand-black-light = rgba(0, 0, 0, 0.700588)
brand-black-ultra-light = rgba(0, 0, 0, 0.200588)


body,
html
  color brand-black
a
  text-decoration none
  color brand-black
  &:visited
    color brand-black

h1,
h2
  text-align center

header
  width 100%
  height 48px
  nav
    float right
    height 100%
    padding 0 8px
    .nav-item
      height 100%
      text-decoration none
      color brand-black
      display inline-block
      vertical-align middle
      line-height 48px
      font-size 18px
      margin 0 8px
      &:hover
        color brand-black-light
.search-wrapper
  display block
  width 100%
  margin-top 16px
  .search
    display table
    min-width 900px
    max-height 980px
    width auto
    margin 0 auto
    position relative
    .finish-autocomplete
      position: absolute
      top: 56px
      width 580px
      border 1px solid #ccc
      box-sizing border-box
      border-top 0
      left 204px
      .finish-suggest
        padding-left: 16px
        height 48px
        line-height 48px
        margin 0
        width: 100%
        &:hover
          background-color: brand-black-ultra-light
    .departure-autocomplete
      position: absolute
      top: 56px
      width 180px
      border 1px solid #ccc
      box-sizing border-box
      border-top 0
      left 8px
      .departure-suggest
        padding-left: 16px
        height 48px
        line-height 48px
        margin 0
        width: 100%
        &:hover
          background-color: brand-black-ultra-light
    select
      -webkit-appearance none
      -webkit-border-radius 0px
      background-color #fff
    input,
    select
      outline 0
      border 0
      margin 8px
      height 48px
      border-radius 1px
      border 1px solid #ccc
    .transport-type
      padding-left 16px
      margin-left 55px
      width 210px
    .accomodation-type
      padding-left 16px
      margin-left 55px
      width 210px
    .persons
      padding-left 16px
      width 70px
      border-radius: 0px
      margin-right 0
    .from-point
    .start-date
    .finish-date
      padding-left 16px
      width 180px
    .to-point
      padding-left 16px
      width 580px
    .next-btn,
    .back-btn
      width 175px
      height 48px
      border-radius 1px
      font-size 16px
.childrens
  outline 0
  position relative
  border 0
  margin 8px
  height 48px
  border-radius 1px
  border 1px solid #ccc
  padding 14px 12px
  margin-left 0
  border-left none
  width 50px
  display inline
  color #bbb

.childs-form
  width 167px
  position absolute
  padding-left: 16px;
  top: 46px;
  left: -98px;
  border: 1px solid #ccc;
.child-input
  width 48px !important
  height 32px !important
  margin-left 16px !important
.child-input-label
  font-size 14px
















.div-btn
  display inline-block
  background #C0C0C0
  line-height 35px
.btn
	box-sizing border-box
	margin 5px
	font-family inherit
	text-decoration none
	text-align center
	padding 6px 12px
	color #fff
	font-size 14px
	display inline-block
	border 1px solid transparent
	border-radius 3px
	cursor pointer
	white-space nowrap
	vertical-align middle
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	touch-action manipulation
